body{
    background-image: url(../img/Home\ Page-2.png);
    background-repeat: no-repeat;
    padding: 10px;
}

header{
    background-color: brown;
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.container_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    height: 82px;
    width: 100px;
    border-radius: 0 0 20px 20px;
}

.icone{
    height: auto;
    width: 80px;
}

a:hover{
    transition: all 2s;
    background-color:#DFC39D;
}

h1{
    width: 363px;
    background-color: aqua;
    font-size: 40px;
}

.container_left{
    background-color: cadetblue;
    height: 800px;
    width: 500px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: black;
    height: 55px;
    width: 393px;
}

.botao div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    border-radius: 50px;
    background-color: #F7E1BC;
    border: 5px solid #E0A872;
    width: 190px;
    height: 55px;
}

.sobremesa{
    background-color: #4A2721;
    height: 200px;
    width: 300px;
    border-radius: 20px 20px 0 0 ;

}