body{
    background-image: url(../img/Home\ Page-2.png);
    background-repeat: no-repeat;
    padding: 10px;
}

header{
    background-color: brown;
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.container_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    height: 82px;
    width: 100px;
    background-color: transparent;
    border-radius: 0 0 20px 20px;
}

a:hover{
    transition: all 2s;
    background-color:#DFC39D;
}