body{
    background-image: url(../img/Home\ Page-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.container_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    height: 82px;
    width: 100px;
    border-radius: 0 0 20px 20px;
}

.icone{
    height: auto;
    width: 80px;
}

.logo{
    padding-left: 34px;
}

a:hover{
    transition: all 2s;
    background-color:#DFC39D;
}

h1{
    width: 720px;
    font-size: 40px;
    color: #DABB9E;
    position: absolute;
    top: 45%;
}

.container_left {
    width: 40vw;
    height: 100%;
    padding-left: 8%;
    padding-top: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    height: 100px;
    width: 450px;
}

.botao div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    border-radius: 50px;
    border: 5px solid #E0A872;
    color: #F8E4BE;
    width: 200px;
    height: 70px;
    position: relative;
    bottom: 40px;
}

.botao span{
    font-size: 25px;
}

.botao div:hover{
    background-color:#F7E1BC ;
}

.sobremesa{
    background-color: #4A2721;
    height: 320px;
    width: 440px;
    border-radius: 50px 50px 0 0 ;
    border-left: 5px solid #A8715C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: -25px -25px 60px rgba(0, 0, 0, 0.35);
    margin-bottom: 90px;
}


.but{
    width: 220px;
    margin-left: 25px; 
}

.produto{
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 160px;
    margin-top: 70px;
}


.cup1{
    height: 270px;
    width: 270px;
    position: absolute;
    left: 0;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}


.botao2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid #F8E4BE;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    position: relative;
    gap: 10px;
    margin-left: 80px;
}

.botao2 span{
    font-size: 22px;
}

.moto{
    height: 40px;
    width: 30px;
}

.container_right {
    width: 60vw;
    height: 100vh;
    position: relative;
    overflow: visible;
}



.maquina {
    position: absolute;
    width: 140%;        
    height: auto;
    right: 90px;      
    top: 5%;          
    z-index: 3;
}

.grao {
    position: absolute;
    width: 95%;
    right: 100px;
    bottom: 400px;
    z-index: 2;
}

.elza_coffee{
    height: auto;
    width: 900px;
}

.sombra{
    height: auto;
    width: 900px;
    margin-left: 800px;
    margin-top: 220px;

}